.main-content-info {
    background-color: white;
    /* margin-left: 16%; */
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 3px;
    /* width: 82%; */
    height: 100%;
    padding: 10px;
    transition: 1s;
}

.grid-content-info {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 20px;
}

@media screen and (min-width:560px) and (max-width: 919px)  {
    .grid-content-info {
        grid-template-columns: 1fr 5fr;
        row-gap: 10px;
    }
}

@media screen and (min-width:920px)  {
    .grid-content-info {
        grid-template-columns: 1fr 5fr;
        row-gap: 10px;
    }
}

.label-info {
    padding: 8px;
}

.input-info {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.grid-btn-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-top: 20px;
}

.div-btn-left {
    justify-items: center;
    display: grid;
}

@media screen and (min-width:560px)  {
    .div-btn-left {
        justify-items: end;
    }
}

.btn-border-red {
    border: 1px solid lightpink;
    border-radius: 8px;
    width: 80px;
    padding: 8px 0px;
}

.btn-border-red:hover:enabled {
    background-color: lightpink;
    font-weight: 800;
}

.div-btn-right {
    justify-items: center;
    display: grid;
}

@media screen and (min-width:560px) {
    .div-btn-right {
        justify-items: end;
    }
}

.btn-border-blue {
    border: 1px solid lightblue;
    border-radius: 8px;
    width: 80px;
    padding: 8px 0px;
}

.btn-border-blue:hover:enabled {
    background-color: lightblue;
    font-weight: 800;
}

.btn-border-blue:disabled {
    border: 1px solid lightgray;
    background-color: lightgrey;
    color: darkslategray;
    padding: 10px;
    border-radius: 10px;
    cursor: not-allowed;
}