/*#region fontsize */
.is-3 {

    font-size: 1.5rem;
}

.is-1 {
    font-size: 1rem;
}

.is-2 {
    font-size: .75rem;
}

/*#endregion fontsize*/

/*#region topbar */

.top-header {
    background-color: darkslategray;
    padding: 5px;
    box-shadow: 0px 10px 8px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    display: flex;
}

.top-text {
    color: white;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    padding: 0px 5px;
}

.top-menu {
    color: black;
}

.top-left-header {
    width: 50%;
    text-align: start;
}

.top-right-header {
    width: 50%;
    text-align: end;
}

.top-left-sub-header {
    display: inline-flex
}

.top-right-sub-header {
    display: inline-flex
}

.top-mini-box {
    padding: 5px;
}

.a-margin-top {
    margin-top: 10px;
    color: #ededed;
}

.h-margin-top {
    margin-top: 15px;
    color: #ededed;
}

.i-margin-top {
    margin-top: 5px;
    color: #ededed;
}


/* Style the active class, and buttons on mouse-over */
.active,
.sub-menu:hover {
    background-color: #ededed;
}
/*#endregion topbar */


/*#region appNav */
.appNav {
    position: fixed;
    background-color: white;
    width: 14%;
    height: 999px;
    /* top: 0;
    left: 0;
    bottom: 0; */
    border: 1px solid #ededed;
    overflow: hidden;
}

.appNav-leftbar-banner {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 1px solid #ededed;
}

.title {}

.subtitle {}

.flex-with {
    width: 50%;
}

.appNav-img-side-bar {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.side-bar {
    margin: 20px 0px;
}

.sub-menu {
    display: block;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #4a4a4a;
    cursor: pointer;
}

.w3-show {
    display: block !important;
}

.w3-hide {
    display: none;
}

.rotate-180 {
    transform: rotate(180deg);
}

.manu-btn {
    display: flex;
}

/*#endregion appNav */

/*#region new topbar*/

.main-topbar {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top:0;
}

@media screen and (min-width: 560px) {
    .main-topbar {
        flex-direction: unset;
        justify-content: space-between;
    }
}

.topbar-ul {
    list-style-type: none;
    margin: 0px;
    padding: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.topbar-ul a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 5px 14px;
}

.topbar-ul a:hover {
    background-color: #4a4a4a;
    transition: 2s;
}

.topbar-ul-username {
    color: lightblue;
}

/*#endregion new topbar*/


.main-content{
    transition:1s;
    margin-left: 200px;
    padding: 10px;
    overflow-x: hidden;
}


/* #region new sidebar */

.main-sidebar{
    width: 200px;
    display: inline;
    background-color: #333;
    height: 100dvh;
    transition: 1s;
    position: fixed;

}

.sidebar-opencloseNav-div{
    text-align: end;
    padding-right: 10px;
}

.sidebar-openNav-btn{
    color: #fff;
    font-size: 1.5rem;
    display: none;
}

.sidebar-closeNav-btn{
    color: #fff;
    font-size: 1.5rem;
}

.sidebar-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.sidebar-banner-div{
    display: flex;
    color: green;
    align-items: end;
    justify-content: end;
    font-weight: 700;
}
@media screen and (max-width: 560px) {
    .main-sidebar{
        width: 50px !important;
    }

    .sidebar-banner-div{
        display: none !important;
    }

    .sidebar-openNav-btn{
        display: inline !important;
    }

    .sidebar-closeNav-btn{
        display: none !important;
    }

    .main-content{
        margin-left: 50px !important;
    }
    
}




/* #endregion new sidebar */